body{
    background-image: url("img/greenbg.webp");
    background-size: 200%;
}
.page-container{
    background-color: snow;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
}
nav{
}
a{
    margin-left: 100px;
    margin-right: 100px;
}