body{
    background-color: rgb(0, 117, 62);
    background-image: url("img/greenbg.webp");
    background-size: 200%;
}
.page-container{
    background-color: rgba(214, 214, 214, 0.8);
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 40px;
}
.title-div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.clementinekaka{
    height: 25vw;
    margin: 2%;
    border-radius: 20px;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}
h1{
    font-size: 5vw;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
a{
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.456);
}
.main{
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vw;
}
::selection {
  background: orange;
  color: black;
  text-shadow: none;
}

::-moz-selection {
  background: orange;
  color: black;
  text-shadow: none;
}
ul{
    list-style-type: none;
}
.ingradients{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ing1{
    height: 30vw;
    border-radius: 20px;
}
.ing2{
    height: 30vw;
    border-radius: 20px;
}