body{
    background-color: rgb(0, 75, 40);
    background-image: url("img/greenbg.webp");
    background-size: 200%;
}
.page-container{
    background-color: rgb(255, 250, 250, 0.8);
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 40px;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
a{
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.456);
}
.main{
    margin-left: 2vw;
    margin-right: 2vw;
}